{
  "id": "{{ link.link_id }}",
  "type": "{{ type }}",
  "start_id": {
    "value": "{{ link.start_id }}",
    "type": "string"
  },
  "end_id": {
    "value": "{{ link.end_id }}",
    "type": "string"
  },
  "distance": {
    "value": "{{ link.distance }}",
    "type": "number"
  },
  "rt_struct": {
    "value": "{{ link.rt_struct }}",
    "type": "integer"
  },
  "route_type": {
    "value": "{{ link.route_type }}",
    "type": "integer"
  },
  "direction": {
    "value": "{{ link.direction }}",
    "type": "integer"
  },
  "width": {
    "value": "{{ link.width }}",
    "type": "integer"
  },
  "vtcl_slope": {
    "value": "{{ link.vtcl_slope }}",
    "type": "integer"
  },
  "lev_diff": {
    "value": "{{ link.lev_diff }}",
    "type": "integer"
  },
  "tfc_signal": {
    "value": "{{ link.tfc_signal }}",
    "type": "integer"
  },
  "tfc_s_type": {
    "value": "{{ link.tfc_s_type }}",
    "type": "integer"
  },
  "brail_tile": {
    "value": "{{ link.brail_tile }}",
    "type": "integer"
  },
  "elevator": {
    "value": "{{ link.elevator }}",
    "type": "integer"
  },
  "roof": {
    "value": "{{ link.roof }}",
    "type": "integer"
  }
}
