{
  "id": "{{ node.node_id }}",
  "type": "{{ type }}",
  "lat": {
    "value": {{ node.lat }},
    "type": "number"
  },
  "lon": {
    "value": {{ node.lon }},
    "type": "number"
  },
  "floor": {
    "value": {{ node.floor }},
    "type": "number"
  },
  "in_out": {
    "value": {{ node.in_out }},
    "type": "integer"
  }
}

