{
  "fiware_endpoint": "http://<<your_ip_address>>:1026/v2/entities/",
  "fiware_service": "pedestrian_walkway_graph",
  "fiware_servicepath": "/fukushima/aizuwakamatsu",
  "fiware_node_type": "Node",
  "fiware_link_type": "Link"
}
